<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="DEBUGFILE" class="ch.qos.logback.core.FileAppender">
        <file>rabbitTest.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</Pattern>
        </layout>
        <append>false</append>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>-->
      <pattern>%d{HH:mm:ss.SSS} [%thread] - %msg%n</pattern>
    </encoder>
    </appender>

  <logger name="com.peterservice.logger.console" level="INFO" additivity="false">
   <appender-ref ref="STDOUT" />
  </logger>

  <!-- Strictly speaking, the level attribute is not necessary since -->
  <!-- the level of the root level is set to DEBUG by default.       -->
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
    <appender-ref ref="DEBUGFILE" />
  </root>

</configuration>
